@model  List<WebApp.Data.Mark>

@{
    ViewBag.Title = "CaptureMark";
    Layout = "~/Views/Shared/_school.cshtml";
}
<br />
<br />
<br />
@using (@Html.BeginForm("CaptureMark", "Marks", FormMethod.Post))
{
    <table>
        <tr>

            <th>Student No</th>
            @*<th>StudentName</th>*@
            <th>GradeGroupID</th>
            <th>SubjectCode</th>
            <th>Term One</th>
            <th>Term Two</th>
            <th>Term Three</th>
            <th>Term four</th>

        </tr>
       @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Html.EditorFor(model => model[i].StudentID)</td>
                @*<td>@Html.EditorFor(model => model[i].StudentName)</td>*@
                <td>@Html.EditorFor(model => model[i].ClassGroupID)</td>
                <td>@Html.EditorFor(model => model[i].Subject_Code)</td>
                <td>@Html.EditorFor(model => model[i].Term1)</td>
                <td>@Html.EditorFor(model => model[i].Term2)</td>
                <td>@Html.EditorFor(model => model[i].Term3)</td>
                <td>@Html.EditorFor(model => model[i].Term4)</td>

            </tr>
        }
    </table>
    <br />
        <br />
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <p><input type="submit" value="Save" /></p>
            </div>
        </div>



        <p style="color:green; font-size:12px;">
            @ViewBag.Message
        </p>

            <br />
            <br />

            @*<td>        <input type="submit" value="Done" onclick="location.href='@Url.Action("Fillter","Marks")'" /></td>*@
            <div>
                @Html.ActionLink("DONE", "Fillter")
            </div>
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


