@model WebApp.Data.AttendReccord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AttendReccord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradeGroupID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradeGroupID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attends)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attends)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Absent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Absent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Await)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Await)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AttendReccordID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
