@model IEnumerable<WebApp.Data.StudentTable>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_school.cshtml";
}

<h2>Index</h2>

<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Name)
            </td>
            <td>
                @Html.ActionLink("Term 1 Marks", "Mark", new { id = item.Student_Number }) |
            </td>
            <td>
                @Html.ActionLink("June Exam", "June_Exam", new { id = item.Student_Number }) |
            </td>
            <td>
                @Html.ActionLink("Term 3 Marks", "TermThree", new { id = item.Student_Number }) |
            </td>
            <td>
                @Html.ActionLink("Final Exam", "Final_Exam", new { id = item.Student_Number }) |
            </td>
        </tr>
    }

</table>
